<ion-header>
  <ion-navbar color="navigationColor">
      <!-- <button class="leftmenuImge" ion-button menuToggle>
      </button> -->
      <ion-title style="text-align:center;">HISTORY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
