<ion-content class="backGroundImage" padding>
  <div style="text-align:center">
    <img src="assets/imgs/logo-2732.png" style="width: 70%;height:70%;margin-top:10%;">
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

    <ion-item class="inputLabel" style="margin-top:10%;">
      <ion-input formControlName="username" type = "text" [(ngModel)] = "username" placeholder="Mobile" autofocus></ion-input>
    </ion-item>

    <ion-item class="inputLabel" style="margin-top:4%;">
      <ion-input formControlName="password" type = "password" [(ngModel)] = "password" placeholder="Password" autofocus></ion-input>
    </ion-item>


    <ion-row style="margin-top:8%;">

      <ion-col col-2></ion-col>
      <ion-col col-8>
        <button class="buttonClassNew" type="submit" ion-button block>LOGIN</button>

      </ion-col>
      <ion-col col-2></ion-col>

    </ion-row>
    <div style="text-align:center;color:gray;margin-top:3%;">
            
      <u (click)="forgotPassword()" text-wrap>Forgot Password?</u>
      </div>

    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
            <div style="text-align:center;color:gray;font-weight:normal;font-size:12px;margin-top:5%;">By clicking "Login" you agree to our Terms of Service.</div>

        </ion-col>
        <ion-col col-2></ion-col>

    </ion-row>

</form>

</ion-content>
