<ion-content class="backGroundImage" padding>
  <div style="text-align:center">
    <img src="assets/imgs/logo-2732.png" style="width: 70%;height:70%;margin-top:10%;">
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

    <ion-item class="inputLabel" style="margin-top:10%;">
      <ion-input formControlName="password" type = "password" [(ngModel)] = "password" placeholder="Password" autofocus></ion-input>
    </ion-item>

    <ion-item class="inputLabel" style="margin-top:10%;">
      <ion-input formControlName="cpassword" type = "password" [(ngModel)] = "cpassword" placeholder="Confirm Password" autofocus></ion-input>
    </ion-item>


    <ion-row style="margin-top:8%;">

      <ion-col col-2></ion-col>
      <ion-col col-8>
        <button class="buttonClassNew" type="submit" ion-button block>SET PASSWORD</button>

      </ion-col>
      <ion-col col-2></ion-col>

    </ion-row>

</form>

</ion-content>
