page-changepassword {
    .text-input::-webkit-input-placeholder {
        // text-indent: 0;
     //   color: map-get($colors, appLogoColor);
        color: gray;
        // text-align: center;

      }
      .inputLabel
      {
          // opacity:0.5;
          height: 50px;
          text-align: center;
          color: gray;
          border: 1px solid gray;
          border-radius: 10px 10px 10px 10px;
          background-color: transparent;
          // padding-left: 10%;
          // background-image:url('../assets/imgs/username.png');
  
      }
      .buttonClassNew
      {
          background-color:#0052A5;
          color: white;
        //   border-radius: 12px 12px 12px 12px;
          height: 30px;
          text-align: center;
      }
}
