

<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="History" tabIcon="information-circle"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Settings" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Logout" tabIcon="log-out"></ion-tab>
</ion-tabs>
