<ion-header>
  <ion-navbar color="navigationColor">
      <!-- <button class="leftmenuImge" ion-button menuToggle>
      </button> -->
      <ion-title style="text-align:center;">SETTINGS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Trusine</ion-list-header>
  </ion-list>
</ion-content>
