page-home {
    .buttonClassNew
    {
      background-color:#0052A5;
      color: white;
      //   border-radius: 12px 12px 12px 12px;
        height: 30px;
        text-align: center;
        margin-top: 36%;
    }
.numberClass
{
    text-align: center;
    padding-top: 30%;
    color: #0050a7;
    font-weight: bold;
}
.headingClass
{
    text-align: center;
    padding-top: 7%;
}
.colClass
{
    border-radius: 10px;
    flex: 0 0 30%;
    width: 100%;
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    text-align:center;
    // border: 1px solid #0E3455;
    border: 1px solid #0050a7;

    // padding: 10%;
    // position: relative;
    padding: 0%;
    position: relative;
    height: 100px;
    overflow: hidden;
    background-color: white;
}
}
