<ion-header>
  <ion-navbar color="navigationColor">
      <!-- <button class="leftmenuImge" ion-button menuToggle>
      </button> -->
      <ion-title style="text-align:center;">HOME</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="backGroundImage" padding>
    <h4 style="text-align: center;color: gray;">Welcome {{name}}</h4>

    <div style="text-align:center;margin-top:5%;">
        <img src="assets/imgs/logonew.png" style="width: 70%;height:70%;">
        </div>


    <ion-row style="margin-top:27%;">
      <ion-col class="colClass" col-4>
        <div class="numberClass">04</div>
        <div class="headingClass">AT OK</div>
      </ion-col>
      <ion-col class="colClass" col-4>
          <div class="numberClass">04</div>
          <div class="headingClass">AT Pending</div>
          </ion-col>
        
        <ion-col class="colClass" col-4>
            <div class="numberClass">04</div>
            <div class="headingClass">AT Rejected</div>
              </ion-col>
          
      
    </ion-row>
  <button class="buttonClassNew" (click)="startSurvey()" ion-button block>START SURVEY</button>

</ion-content>
