page-survey {
    .lblClass{
        color: black;
        margin-top: 5%;
        font-weight: normal;
    
    }
    .ddClass{
        height: 40px;
         float: left;
        background-color: white;
        // color: white;
        border: 1px solid #747474;
        margin-top: 3%;
        width: 100%;   
        color: #747474;
        margin-bottom: 2%;

    }
    .textFieldClass{
        height: 40px;
        text-align: center;
        // color: white;
        border: 1px solid #747474;
        color: #747474;
        margin-top: 2%;
    }
    .buttonClassNew
      {
          background-color:#0052A5;
          color: white;
        //   border-radius: 12px 12px 12px 12px;
          height: 30px;
          text-align: center;
      }
    
}
