<ion-header>
  <ion-navbar color="navigationColor">
      <!-- <ion-buttons left>
          <button ion-button icon-only (click)="back();">
              <img src="assets/imgs/back-arrow.png" style="width: 40%;">
            </button>
      </ion-buttons> -->

      <!-- <button class="leftmenuImge" ion-button menuToggle>
      </button> -->
      <ion-title style="text-align:center;">ADD SURVEY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="backGroundImage" padding>
  <h4 style="text-align: center;color: gray;">SITE DETAILS</h4>

  <ion-item class="textFieldClass" style="margin-top:2%;">
    <ion-input name='SiteID' type = "text" [(ngModel)] = 'SiteID' placeholder="Site ID"></ion-input>
  </ion-item>    

  <ion-item class="textFieldClass" style="margin-top:2%;">
    <ion-input name='SiteName' type = "text" [(ngModel)] = 'SiteName' placeholder="Site Name"></ion-input>
  </ion-item>    


  <ion-item class="textFieldClass" style="margin-top:2%;">
    <ion-input name='SiteAddress' type = "text" [(ngModel)] = 'SiteAddress' placeholder="Site Address"></ion-input>
  </ion-item>    


  <ion-item class="textFieldClass" style="margin-top:2%;">
    <ion-input name='Cust_name' type = "text" [(ngModel)] = 'Cust_name' placeholder="Customer Name"></ion-input>
  </ion-item>    

  <ion-item class="textFieldClass" style="margin-top:2%;">
    <ion-input name='Cust_Code' type = "text" [(ngModel)] = 'Cust_Code' placeholder="Customer Code"></ion-input>
  </ion-item>    

  <div class="lblClass">Site Type</div>

            <select name='Site_Type' [(ngModel)]='Site_Type' class="ddClass" [disabled]="d5Flag">
                        <option selected value="" disabled>Select Site Type</option>
                        <option value="a">GBT Shelter</option>
                        <option value="b">RTT Shelter</option>
                        <option value="c">RTP Shelter</option>
                        <option value="d">GBT Room</option>
                        <option value="a">RTT Room</option>
                        <option value="a">RTP Room</option>

                        <option value="a">GBT ODC</option>
                        <option value="a">RTT ODC</option>
                        <option value="a">RTP ODC</option>

                    </select>

                    <div class="lblClass">Power Panel</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='PowerPanel_make' type = "text" [(ngModel)] = 'PowerPanel_make' placeholder="Make"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='PowerPanel_Rating' type = "text" [(ngModel)] = 'PowerPanel_Rating' placeholder="Rating"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='PowerPanel_Remarks' type = "text" [(ngModel)] = 'PowerPanel_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    

                    <div class="lblClass">SMPS</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='SMPS_make' type = "text" [(ngModel)] = 'SMPS_make' placeholder="Make"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='SMPS_Rating' type = "text" [(ngModel)] = 'SMPS_Rating' placeholder="Rating"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='SMPS_Remarks' type = "text" [(ngModel)] = 'SMPS_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    


                    <div class="lblClass">Battery Bank</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Batterybank_make' type = "text" [(ngModel)] = 'Batterybank_make' placeholder="Make"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Batterybank_Rating' type = "text" [(ngModel)] = 'Batterybank_Rating' placeholder="Rating"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Batterybank_Remarks' type = "text" [(ngModel)] = 'Batterybank_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    


                    <div class="lblClass">AC / FCU</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='AC_FCU_make' type = "text" [(ngModel)] = 'AC_FCU_make' placeholder="Make"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='AC_FCU_Rating' type = "text" [(ngModel)] = 'AC_FCU_Rating' placeholder="Rating"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='AC_FCU_Remarks' type = "text" [(ngModel)] = 'AC_FCU_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    


                    <div class="lblClass">DG</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='DG_make' type = "text" [(ngModel)] = 'DG_make' placeholder="Make"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='DG_Rating' type = "text" [(ngModel)] = 'DG_Rating' placeholder="Rating"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='DG_Remarks' type = "text" [(ngModel)] = 'DG_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    


                    <div class="lblClass">BTS</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='BTS_make' type = "text" [(ngModel)] = 'BTS_make' placeholder="Make"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='BTS_Rating' type = "text" [(ngModel)] = 'BTS_Rating' placeholder="Rating"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='BTS_Remarks' type = "text" [(ngModel)] = 'BTS_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    

                    <div class="lblClass">Total Site Heat Count</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Site_Heat_Load_make' type = "text" [(ngModel)] = 'Site_Heat_Load_make' placeholder="Make"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Site_Heat_Load_Rating' type = "text" [(ngModel)] = 'Site_Heat_Load_Rating' placeholder="Rating"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Site_Heat_Load_Remarks' type = "text" [(ngModel)] = 'Site_Heat_Load_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    

                    <h4 style="text-align: center;color: gray;">CHECK POINTS</h4>

                    <div class="lblClass">EB</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='EB_Voltage' type = "text" [(ngModel)] = 'EB_Voltage' placeholder="Voltage"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='EB_Current' type = "text" [(ngModel)] = 'EB_Current' placeholder="Current"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='EB_Remarks' type = "text" [(ngModel)] = 'EB_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    


                    <div class="lblClass">DG</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='DG_Voltage' type = "text" [(ngModel)] = 'DG_Voltage' placeholder="Voltage"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='DG_Current' type = "text" [(ngModel)] = 'DG_Current' placeholder="Current"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='dgremark' type = "text" [(ngModel)] = 'dgremark' placeholder="Remarks"></ion-input>
                    </ion-item>    


                    <div class="lblClass">Solar</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Solar_Voltage' type = "text" [(ngModel)] = 'Solar_Voltage' placeholder="Voltage"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Solar_Current' type = "text" [(ngModel)] = 'Solar_Current' placeholder="Current"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Solar_Remarks' type = "text" [(ngModel)] = 'Solar_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    

                    <div class="lblClass">Battery</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Battery_Voltage' type = "text" [(ngModel)] = 'Battery_Voltage' placeholder="Voltage"></ion-input>
                    </ion-item>    
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Battery_Current' type = "text" [(ngModel)] = 'Battery_Current' placeholder="Current"></ion-input>
                    </ion-item>    

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='Battery_Remarks' type = "text" [(ngModel)] = 'Battery_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    

                    <div class="lblClass">Room Temperature</div>

                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='RoomTemp' type = "text" [(ngModel)] = 'RoomTemp' placeholder="Temperature"></ion-input>
                    </ion-item>    
                  
                    <ion-item class="textFieldClass" style="margin-top:2%;">
                      <ion-input name='RoomTemp_Remarks' type = "text" [(ngModel)] = 'RoomTemp_Remarks' placeholder="Remarks"></ion-input>
                    </ion-item>    




                    <button class="buttonClassNew" type="submit" (click)="submitSurvey();"ion-button block>SUBMIT</button>


          
</ion-content>
