<ion-content class="backGroundImage" padding>
  <div style="text-align:center">
    <img src="assets/imgs/logo-2732.png" style="width: 70%;height:70%;margin-top:10%;">
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

    <ion-item class="inputLabel" style="margin-top:10%;">
      <ion-input formControlName="mobile" type = "number" [(ngModel)] = "mobile" placeholder="Mobile" autofocus></ion-input>
    </ion-item>


    <ion-row style="margin-top:8%;">

      <ion-col col-2></ion-col>
      <ion-col col-8>
        <button class="buttonClassNew" type="submit" ion-button block>VERIFY</button>

      </ion-col>
      <ion-col col-2></ion-col>

    </ion-row>

    <ion-row>
        <ion-col col-2></ion-col>
        <ion-col col-8>
            <div style="text-align:center;color:gray;font-weight:normal;font-size:12px;margin-top:5%;">By clicking "VERIFY" you agree to our Terms of Service.</div>

        </ion-col>
        <ion-col col-2></ion-col>

    </ion-row>

</form>

</ion-content>
