<ion-content class="backGroundImage" padding>
    <!-- <button ion-button icon-only (click)="back();"> -->
        <img src="assets/imgs/back-arrow.png" style="width: 10%;" (click)="back();">
      <!-- </button> -->

  <div style="text-align:center">
    <img src="assets/imgs/logo-2732.png" style="width: 70%;height:70%;margin-top:10%;">
    </div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

    <ion-item class="inputLabel" style="margin-top:10%;">
      <ion-input formControlName="mobile" type = "text" [(ngModel)] = "mobile" placeholder="Mobile" autofocus></ion-input>
    </ion-item>



    <ion-row style="margin-top:8%;">

      <ion-col col-2></ion-col>
      <ion-col col-8>
        <button class="buttonClassNew" type="submit" ion-button block>GET OTP</button>

      </ion-col>
      <ion-col col-2></ion-col>

    </ion-row>

</form>

</ion-content>
